<ion-header>
  <ion-toolbar>
      <ion-title>Find Your Tutor</ion-title>
      <ion-buttons slot="end">
      <ion-button (click)="signup()">Sign Up</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="login_form" (submit)="login(login_form.value)">
       <ion-item>
          <ion-label color="primary" position="floating">Email: </ion-label>
          <ion-input type="text" formControlName="email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" position="floating">Password: </ion-label>
          <ion-input type="text" formControlName="password" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" position="floating">User Type</ion-label>
            <ion-select formControlName="usertype" placeholder="Select One" required>
              <ion-select-option value="tutor">Tutor</ion-select-option>
              <ion-select-option value="student">Student</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!login_form.valid">Login</ion-button>
    </form>
</ion-content>

