<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Tutor</ion-title>
      <ion-buttons slot="end">
      <ion-button (click)="signup()">Sign Up</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <link href="https://fonts.googleapis.com/css?family=Fascinate+Inline" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</ion-header>

<ion-content class="background" padding>
    <p id="logo">Tutor</p>
    <p id="subtitle">To be a tutor or tutored!</p>
    <form class = "form" [formGroup]="login_form" (submit)="login(login_form.value)">
       <ion-item lines="none" class="input">
          <ion-label color="tertiary" position="floating">Email: </ion-label>
          <ion-input type="text" formControlName="email" required></ion-input>
        </ion-item>
        <ion-item  lines="none" class="input">
          <ion-label color="tertiary" position="floating">Password: </ion-label>
          <ion-input type="text" formControlName="password" required></ion-input>
        </ion-item>
        <ion-item  lines="none" class="input">
            <ion-label color="tertiary" position="floating">User Type</ion-label>
            <ion-select formControlName="usertype" placeholder="Select One" required>
              <ion-select-option value="tutor">Tutor</ion-select-option>
              <ion-select-option value="student">Student</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-button class="submit-btn" color="tertiary" expand="block" type="submit" [disabled]="!login_form.valid">Login</ion-button>
    </form>
</ion-content>

