#avatar{
    margin: auto;
    width: 120px;
    height: 120px;
    margin: auto;
    border: 3px solid white;
 }

 #upperhalf {
    background-color: rgb(107, 174, 198);
    height: 250px;
    padding-top: 40px;
 }

 #username {
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
 }

 .info {
     padding-left: 30px;
     color: rgb(107, 174, 198);
 }

.header {
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

#btn {
    margin-top: 20px;
}