<ion-header>
  <ion-toolbar color="tertiary" class="header">
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="updateTutorProfile(profile)">Edit Profile</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</ion-header>

<ion-content>
  <ion-content>
    <div id="upperhalf">
        <ion-avatar id="avatar">
            <img [src]="profile.image">
        </ion-avatar>
        <p id="username"><strong>{{profile.username}}</strong></p>
    </div>
      
    <p class="info"><ion-icon name="ios-call"></ion-icon><strong> Contact Info: </strong>{{profile.contact_info}}</p>
    <p class="info"><ion-icon name="md-mail"></ion-icon><strong> Email: </strong>{{profile.email}}</p>
    <p class="info"><ion-icon name="md-school"></ion-icon><strong> Professional Field:</strong>{{profile.field}}</p>
    <p class="info"><ion-icon name="md-bulb"></ion-icon><strong> Introduction:</strong></p>
    <p class="info" id="box">{{profile.introduction}}</p>
    <ion-button id="btn" (click)="logout()" color="secondary" shape="round" expand="block">Logout</ion-button>
</ion-content>
