.cards{
  width: 95%;
  //height:;
  text-align: left;
  margin: 1%;
  .context{
    text-align: right;
  }
}

.header {
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

ion-back-button {
  color: white;
}
