<ion-header>
  <ion-toolbar color="tertiary" class="header">
    <ion-title>Sign up</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
  <link href="https://fonts.googleapis.com/css?family=Fascinate+Inline" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</ion-header>

<ion-content>
    <p id="logo">Tutor</p>
    <p id="subtitle">Create Your Own Tutor Account!</p>
    <form class = "form" [formGroup]="new_user_form" (submit)="createNewUser(new_user_form.value)">
        <ion-item lines="none" class="input">
          <ion-label color="tertiary" position="floating">Email: </ion-label>
          <ion-input type="text" formControlName="email" required></ion-input>
        </ion-item>
        <ion-item lines="none" class="input">
          <ion-label color="tertiary" position="floating">Password: </ion-label>
          <ion-input type="text" formControlName="password" required></ion-input>
        </ion-item>
        <ion-item mlines="none" class="input">
          <ion-label color="tertiary" position="floating">User Type</ion-label>
          <ion-select formControlName="usertype" placeholder="Select One" required>
            <ion-select-option value="tutor">Tutor</ion-select-option>
            <ion-select-option value="student">Student</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button class="submit-btn" color="tertiary" expand="block" type="submit" [disabled]="!new_user_form.valid">Submit</ion-button>
    </form>
</ion-content>
