<ion-header>
  <ion-toolbar class="header">
    <ion-title>Tutor Profile Edit Page</ion-title>
    <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div id="upperhalf">
        <ion-avatar id="avatar">
            <img [src]="cur_profile.image">
        </ion-avatar>
    </div>
        <form [formGroup]="student_profile_form" (submit)="updateProfile(student_profile_form.value)">
          <ion-item>
            <ion-label  class="label" position="floating">Image</ion-label>
            <ion-input type="text" formControlName="image" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label  class="label" position="floating">Name</ion-label>
            <ion-input type="text" formControlName="username" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label  class="label" position="floating">Contact Info</ion-label>
            <ion-input type="text" formControlName="contact_info" required></ion-input>
          </ion-item>
          <ion-button class="submit-btn" color="secondary" shape="round" expand="block"  type="submit" >Update</ion-button>
        </form>   
</ion-content>
