#avatar{
    margin: auto;
    width: 120px;
    height: 120px;
    margin: auto;
    border: 3px solid white;
 }

 #upperhalf {
    background-color: rgb(107, 174, 198);
    height: 250px;
    padding-top: 40px;
 }

 .label {
     color: rgb(107, 174, 198);
 }

 .header {
    color: rgb(107, 174, 198);
 }

 ion-item {
   --border-color: rgb(107, 174, 198);
   --border-radius: 15px;
 }

 .submit-btn {
    margin-top: 10px;
 }



