<ion-header>
  <ion-toolbar color="tertiary" class="header">
    <ion-title>Orders</ion-title>
  </ion-toolbar>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let course of tutor_orders">
           <ion-label text-wrap>
           <div>
              <h2><strong>{{ course.course_name }}</strong></h2>
               <p><strong>Price:</strong> ${{course.total_price}}</p>
               <p><strong>Status:</strong> {{course.status}}</p>
           </div>
           </ion-label>
               <!-- <ion-button (click)="courseDetailPage(course)" fill="outline" slot="end">Info</ion-button> -->

             <ion-label text-right>
                <ion-button class="btn" (click)="courseDetailPage(course)" fill="outline" slot="end">Info</ion-button><br />
                <p *ngIf=" course.status === 'pending'">
                    <ion-button class="btn" (click)="updateOrderAccept(course)" fill="outline" >Accept</ion-button> <br />
                    <ion-button class="btn" (click)="updateOrderDeny(course)" fill="outline" >Deny</ion-button>
                 </p>
                 <ion-button class="btn" (click)="tutorRateStudent(course)" fill="outline" slot="end" [hidden]="hideOrNot(course.status)">Rate</ion-button><br />
                <!-- <ion-button class="btn" (click)="updateCourse(course)" fill="outline" slot="end">Update</ion-button><br /> -->
            </ion-label>
         </ion-item>       
      </ion-list>

</ion-content>
