<ion-header>
  <ion-toolbar  color="tertiary" class="header">
    <ion-title>Category Detail</ion-title>
    <ion-buttons slot="start" (click)="goBack()">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="cards" *ngFor="let courseBelowThisCategory of searchresultList" (click)="courseDetailPage(courseBelowThisCategory)">
      <h5>{{ courseBelowThisCategory.name}}</h5>
      <p class="cards context">{{courseBelowThisCategory.description}} <br> ${{courseBelowThisCategory.price}}</p>
    </ion-item>
  </ion-list>
</ion-content>
