<ion-header>
  <ion-toolbar color="tertiary" class="header">
    <ion-title>Add course</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</ion-header>

<ion-content>
    <div><ion-icon color="tertiary" name="today"></ion-icon></div>
    <form [formGroup]="new_course_form" (submit)="createCourse(new_course_form.value)">
        <ion-item class="input">
          <ion-label class="label" position="floating">Course Name</ion-label>
          <ion-input type="text" formControlName="name" required></ion-input>
        </ion-item>
        <ion-item class="input">
            <ion-label  class="label" position="floating">Category</ion-label>
            <ion-select formControlName="category" placeholder="Select One" required>
              <ion-select-option value="business">Business</ion-select-option>
              <ion-select-option value="training">Personal Training</ion-select-option>
              <ion-select-option value="computer_science">Computer Science</ion-select-option>
              <ion-select-option value="mathematics">Mathematics</ion-select-option>
              <ion-select-option value="physics">Physics</ion-select-option>
              <ion-select-option value="chemistry">Physics</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item class="input">
            <ion-label class="label" position="floating">Description</ion-label>
            <ion-input type="text" formControlName="description" required></ion-input>
        </ion-item>
        <ion-item class="input">
            <ion-label class="label" position="floating">Start Time</ion-label>
            <ion-datetime formControlName="start_time" min="2019" max="2022-12-31" display-format="YYYY-MM-DD, HH:mm" picker-format="MM DD YYYY HH:mm"></ion-datetime>
        </ion-item>
        <ion-item class="input">
          <ion-label class="label" position="floating">End Time</ion-label>
          <ion-datetime formControlName="end_time" min="2019" max="2022-12-31" display-format="YYYY-MM-DD, HH:mm" picker-format="MM DD YYYY HH:mm"></ion-datetime>
        </ion-item>
        <ion-item class="input">
          <ion-label class="label" position="floating" position="floating">Price(Per 30 min)</ion-label>
          <ion-input inputmode="numeric" type="number" formControlName="price" required></ion-input>
        </ion-item>
        <ion-button class="submit-btn" color="secondary" shape="round" expand="block" type="submit" [disabled]="!new_course_form.valid">Create</ion-button>
      </form>
</ion-content>
