.iconBox {
    text-align: center;
    .imgRow{
    }
    .imgBox {
        margin: 5px;
        .iconImg {
            margin: 3px;
            width: 70px;
            height: 70px;
            //-webkit-border-radius: 25px;
            // -moz-border-radius: 25px;
            //border-radius: 25px;
            //background: #ffdc34;

            //&::before {
            //    margin-top: 4px;
            //    color: green;
            //    zoom: 2;
            //}
        }
        .card-title{
            text-align: center;
            color: #0cd1e8;
        }
    }

    a {
        color: #999999;
    }
}

.col-25{border: 1px solid #ddd;height: 120px;display:flex;justify-content:center;align-items: center;}
.col-25 imgBox {height: 64px; width: 64px;}
