<ion-header>
  <ion-toolbar color="tertiary" class="header">
    <ion-title>Explore</ion-title>
  </ion-toolbar>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</ion-header>

<ion-content>
  <ion-searchbar #q placeholder="search a course you like" [showCancelButton]="true" (keyup.enter)="searchResultPage(q.value)"></ion-searchbar>
  <ion-grid>
    <ion-row *ngFor="let row of rowList">
      <ion-col *ngFor="let category of row">
        <ion-card (click)="categoryDetailPage(category)">
          <ion-card-header>{{category.name}}</ion-card-header>
          <ion-card-content><img class="catImg" [src]="getImg(category.name)" /></ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
