<ion-header>
    <ion-toolbar color="tertiary" class="header">
        <ion-title>Select Course Detail</ion-title>
        <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
      </ion-toolbar>
      <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</ion-header>

<ion-content>
    <ion-card>
        <ion-img [src]="img"></ion-img>
        <ion-card-header>
          <ion-card-subtitle><ion-icon name="book"></ion-icon> {{course.category}}</ion-card-subtitle>
          <ion-card-title class="content"> {{course.course_name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="content"><strong>Tutor info:</strong> {{tutorInfo}} </ion-card-content>
        <ion-card-content class="content"><strong>Tutor rating:</strong> </ion-card-content>
        <ion-card-content class="content"><strong>Description:</strong> {{course.description}}</ion-card-content>
        <ion-card-content class="content"><strong>Start Time:</strong> {{course.start_time}}</ion-card-content>
        <ion-card-content class="content"><strong>End Time:</strong> {{course.end_time}}</ion-card-content>
        <ion-card-content><strong>Price:</strong> {{course.total_price}} USD</ion-card-content>
        <ion-card-content><strong>Duration:</strong> {{course.unit_number}} * 30 min</ion-card-content>
        <!--<ion-card-content class="content"><strong>Rate your tutor:</strong> </ion-card-content>-->
        <ion-card-content class="content" (click)="goToRatingPage(course)" [hidden]="hideOrNot(course.rate_status,course.status)"> <ion-icon id="rate" ios="ios-calculator" [hidden]="hideOrNot(course.rate_status,course.status)"></ion-icon> <span id="note" [hidden]="hideOrNot(course.rate_status,course.status)"><strong>Rate the Tutor</strong></span>
        </ion-card-content>
      </ion-card>
</ion-content>
