<ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tutor-orders">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Order</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tutor-course">
          <ion-icon name="apps"></ion-icon>
          <ion-label>Course</ion-label>
        </ion-tab-button>
  
    <ion-tab-button tab="tutor-profile">
        <ion-icon name="list"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>

    </ion-tab-bar> 

  </ion-tabs>
