<ion-tabs>

  <ion-tab-bar color="tertiary" slot="bottom">
    <ion-tab-button tab="student-course">
        <ion-icon name="apps"></ion-icon>
        <ion-label>Course</ion-label>
      </ion-tab-button>

    <ion-tab-button tab="student-explore">
        <ion-icon name="paper"></ion-icon>
        <ion-label>Explore</ion-label>
      </ion-tab-button>

    <ion-tab-button tab="student-profile">
      <ion-icon name="list"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    </ion-tab-bar>
  
  </ion-tabs>
