<ion-header>
    <ion-toolbar color="tertiary" class="header">
        <ion-title>Order Detail</ion-title>
        <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
      </ion-toolbar>
      <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</ion-header>

<ion-content>
    <ion-card>
        <ion-img [src]="img"></ion-img>
        <ion-card-header>
          <ion-card-subtitle><ion-icon name="book"></ion-icon> {{course.category}}</ion-card-subtitle>
          <ion-card-title class="content"> {{course.course_name}}</ion-card-title>
        </ion-card-header>
<!--        <ion-card-content class="content" (click)="goToRatingPage(course)"> <ion-icon id="rate" ios="ios-calculator"></ion-icon> <span id="note"><strong>Rate Your Student</strong></span></ion-card-content>-->
        <ion-card-content class="content" (click)="goToRatingPage(course)" [hidden]="hideOrNot(course.t_rate_status,course.status)"> <ion-icon id="rate" ios="ios-calculator" [hidden]="hideOrNot(course.t_rate_status,course.status)"></ion-icon> <span id="note" [hidden]="hideOrNot(course.t_rate_status,course.status)"><strong>Rate the Student</strong></span></ion-card-content>
        <ion-card-content class="content"><strong>Student info:</strong>  {{studentInfo}} </ion-card-content>
        <ion-card-content class="content"><strong>Student rating:</strong> {{studentRating}}</ion-card-content>
        <ion-card-content class="content"><strong>Description:</strong> {{course.description}}</ion-card-content>
        <ion-card-content class="content">
            <strong>Start Time:</strong> <ion-datetime displayFormat="MM/DD/YYYY,hh:mm A" [(ngModel)]="course.start_time"></ion-datetime>
        </ion-card-content>
        <ion-card-content class="content">
            <strong>End Time:</strong> <ion-datetime displayFormat="MM/DD/YYYY,hh:mm A" [(ngModel)]="course.end_time"></ion-datetime>
        </ion-card-content>
        <ion-card-content><strong>Price:</strong> {{course.total_price}} <strong>USD</strong></ion-card-content>
        <ion-card-content><strong>Duration:</strong> {{course.unit_number}} <strong> *30 min</strong></ion-card-content>
    </ion-card>

</ion-content>